swagger: "2.0"
info:
  description: "This dataset contains data sources that will be used to handle the drug interactions problem."
  version: "0.0.1"
  title: "movements of other candidats"
  contact:
    email: "samtoche@outlook.fr"
host: "drug-interactions.sourcing.com"
basePath: "/v0.0.1"
tags:
- name: "medicaments-gouv"
  description: "The public french database for drugs"
  externalDocs:
    description: "source"
    url: "http://base-donnees-publique.medicaments.gouv.fr"
- name: "drugbank"
  description: "Pharmaceutical knowledge"
  externalDocs:
    description: "source"
    url: "https://go.drugbank.com"
schemes:
- "https"
- "http"
paths:
  /medicaments/sample/{count}:
    get:
      tags:
      - "medicaments-gouv"
      summary: "Download the documentation of a sample of drugs"
      description: "1. Go to the URL. \n 2. Enter random letters into the search field. \n 3. Click on search. \n 4. Collect each page of each result."
      operationId: "medicamentsSample"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "count"
        description: "size of the sample"
        required: true
        type: string
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/document"
        "405":
          description: "Invalid input"
  /medicaments/search/{drugName}:
    get:
      tags:
      - "medicaments-gouv"
      summary: "Download the documentation of the given drug"
      description: "1. Go to the URL. \n 2. Enter random letters into the search field. \n 3. Click on search. \n 4. Collect the content of the second tab."
      operationId: "medicamentsSearch"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "drugName"
        description: "The name of the seeked drug"
        required: true
        type: string
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/document"
        "405":
          description: "Invalid input"
  /drugbank/search/{drugName}:
    get:
      tags:
      - "drugbank"
      summary: "Download the interactions of the given drug"
      description: "1. Go to the URL. \n 2. Enter random letters into the search field. \n 3. Click on search. \n 4. Collect the content of the second tab."
      operationId: "drugbankSearch"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "drugName"
        description: "The name of the seeked drug"
        required: true
        type: string
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/interaction"
        "405":
          description: "Invalid input"
definitions:
  document:
    type: "object"
    properties:
      drug_name:
        type: "string"
        description: "name of the drug"
      url:
        type: "string"
        description: "url of the collected document"
      collected_date:
        type: "string"
        format: "date-time"
        description: "when the document has been collected"
      content:
        type: "string"
        description: "the content collected"
      from_pdf:
        type: "boolean"
        default: false
        description: "whether or not the document was a PDF"
  interaction:
    type: "object"
    properties:
      drug_name:
        type: "string"
        description: "name of the drug"
      interaction_drug_name:
        type: "string"
        description: "name of the drug that interact"
      collected_date:
        type: "string"
        format: "date-time"
        description: "when the document has been collected"
      description:
        type: "string"
        description: "description of the interaction"